@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-bracket-line: #e5e7eb;
  --color-card-bg: #f9fafb;
  --color-card-border: #e5e7eb;
}
